.tg {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

  .tg td {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }

  .tg th {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 24px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }

  .tg .tg-1wig {
    text-align: left;
    vertical-align: top
  }

  .tg .tg-0lax {
    text-align: left;
    vertical-align: top
  }

  .tg .tg-8zwo {
    font-style: italic;
    text-align: left;
    vertical-align: top
  }
