<table class="tg">
  <thead>
    <tr>
      <th class="tg-1wig">Tickets</th>
      <th class="tg-0lax">{{stats?.totalTickets}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-8zwo">new</td>
      <td class="tg-0lax">{{stats?.newTickets}}</td>
    </tr>
    <tr>
      <td class="tg-8zwo">in progress</td>
      <td class="tg-0lax">{{stats?.inProgressTickets}}</td>
    </tr>
    <tr>
      <td class="tg-8zwo">closed</td>
      <td class="tg-0lax">{{stats?.closedTickets}}</td>
    </tr>
    <tr>
      <td class="tg-8zwo">opened last 30 days</td>
      <td class="tg-0lax">{{stats?.openTickets30D}}</td>
    </tr>
  </tbody>
</table>
