<div class="ticket-edit">
  <h1>{{title}}</h1>
  <p *ngIf="!ticket"><em>Loading…</em></p>
  <form [formGroup]="form">

    <!-- ID -->
    <mat-form-field appearance="outline">
      <mat-label>ID:</mat-label>
      <input matInput formControlName="id" readonly>
    </mat-form-field>

    <!-- Subject -->
    <mat-form-field appearance="outline">
      <mat-label>Subject:</mat-label>
      <input matInput formControlName="subject" readonly>
    </mat-form-field>

    <!-- Application -->
    <mat-form-field *ngIf="ticketService.applications" appearance="outline">
      <mat-label>Application:</mat-label>
      <mat-select id="application" formControlName="application">
        <mat-option *ngFor="let application of ticketService.applications"
                    [value]="application.id" [disabled]="true">
          {{application.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- State -->
    <mat-form-field appearance="outline">
      <mat-label>State:</mat-label>
      <input matInput formControlName="state" readonly>
    </mat-form-field>

    <!-- Creator -->
    <mat-form-field *ngIf="creatorUserName" appearance="outline">
      <mat-label>Creator:</mat-label>
      <input matInput formControlName="creatorId" readonly
             [value]="creatorUserName">
    </mat-form-field>

    <!-- Creation date -->
    <mat-form-field appearance="outline">
      <mat-label>Creation date:</mat-label>
      <input matInput formControlName="creationDate" readonly
             [value]="form.controls['creationDate'].value | date">
    </mat-form-field>

    <!-- Description -->
    <mat-form-field appearance="outline">
      <mat-label>Description:</mat-label>
      <textarea matInput formControlName="description" readonly
                class="description">
      </textarea>
    </mat-form-field>

    <!-- Owner -->
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Owner:</mat-label>
      <input matInput formControlName="ownerId"
             placeholder="To be attributed" [value]="ownerUserName">
    </mat-form-field>

    <!-- Screenshot -->
    <mat-form-field appearance="outline" *ngIf="form.controls['screenshot'].value">
      <mat-label>Screenshot:</mat-label>
      <input matInput formControlName="screenshot"
             [hidden]="true">
      <img [src]="'data:image/jpg;base64,'+form.controls['screenshot'].value" alt="screenshot" title="screenshot" class="screenshot" #screenshot (click)="openModal()" />
    </mat-form-field>

    <div>
      <button *ngIf="!form.controls['ownerId'].value && isDev" mat-flat-button color="primary"
              (click)="takeTicket()">
        Take
      </button>
      <button *ngIf="form.controls['ownerId'].value == authService.getID() && form.controls['state'].value != 'Closed'" mat-flat-button color="primary"
              (click)="closeTicket()">
        Close
      </button>
      <button mat-flat-button color="secondary"
              [routerLink]="['/']">
        Back
      </button>
    </div>
  </form>
</div>

<!-- Modal -->
<div #myModal class="modal">

  <!-- Close Button -->
  <span class="close" (click)="closeModal()">&times;</span>

  <!-- Modal Content (Image) -->
  <img class="modal-content" #img_mod>

</div>
